<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/style.css">
    <title>Gav</title>

</head>
<body>
    <!-- Barra de Navegação -->
    <header class="navegacao">
        <div class="texto-barra">
            <img src="/public/image/logo-gav-2.png" alt="">
            <div> 
                <h1>GAV</h1>
                <h2>Grupo Auxiliar de Voluntários</h2>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Quem é o Gav?</a></li>
                <li><a href="#">Campanhas</a></li>
                <li><a href="#">Contato</a></li>
                <li><a id="botao-doar" href="#">Doar</a></li>
            </ul>
        </nav>
    </header>


    <!-- Banner -->
    <main class="banner">
        <div class="container">
            <!-- <img id="banner-foto" src="/public/image/banner.png" alt="foto dos voluntarios"> -->
            <h2 class="titulo">Juntos podemos fazer a diferença!</h2>
            <p class="banner-subtitulo ">Um sorriso. Um abraço. Um chá para aquecer.</p>
            <a href="#sobre" class="botao-banner">Seja Voluntário(a)!</a>
        </div>
    </main>

</body>
</html>